<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
  <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

  <!-- 1. 获取了ModelAndView的数据
       2. 解析ModelAndView的试图名字
       3. 拼接视图名字，找到对应的视图
       4. 将数据渲染到这个试图上
   -->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
  </bean>

  <!--对应的路径找对应的controller-->
  <bean id="/hello2" class="com.tongy.controller.HelloController"/>

</beans>